{% extends 'layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
  {% parent %}
  
{% endblock %}

{% block content %}
<p>This is just an awesome page.</p>
<input name="notif" type="button" value="Shoow notif" onclick="$('.elem-demo').notify('Hello Box');"/>

<div class="elem-demo">a Box</div>

{% endblock %}