{% extends 'layout.html' %}

{% block title %}ASCII SHOP{% endblock %}

{% block head %}
{% parent %}
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Beacon get-through Serivce_SHOP</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Help</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">Analytics</a></li>
				<li><a href="#">Export</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="">Nav item</a></li>
				<li><a href="">Nav item again</a></li>
				<li><a href="">One more nav</a></li>
				<li><a href="">Another nav item</a></li>
				<li><a href="">More navigation</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="">Nav item again</a></li>
				<li><a href="">One more nav</a></li>
				<li><a href="">Another nav item</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">SHOP Information</h1>

			<div class="row placeholders">
				<div class="col-xs-6 col-sm-3 placeholder">
					<h4 id="shopId">{{shopInfo[0].sid}}</h4>
					<span class="text-muted">shop id</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<h4>{{shopInfo[0].sname}}</h4>
					<span class="text-muted">shop name</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<h4 id="shopState">{{shopInfo[0].state}}</h4>
					<span class="text-muted">shop state</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<h4 id="shopSession">{{shopInfo[0].session}}</h4>
					<span class="text-muted">shop session</span>
				</div>			
			</div>

			<h2 class="sub-header">Change Order Preparation Time</h2>			
			<form class="form-inline" id="changeTime">
			  <div class="form-group">
			    <label for="shopPreparationTime">Time</label>
			    <input type="text" class="form-control" id="shopPreparationTime" placeholder="10 (unit: minute)">
			  </div>
			  <button type="submit" class="btn btn-primary">Change Time</button>
			</form>

			<h2 class="sub-header">ORDER Information</h2>
			<div>
				<table id="order" class="stripe">
					<thead>
						<tr>
							<th></th>
							<th>order id</th>
							<th>customer name</th>
							<th>customer phone</th>
							<th>orderTime</th>
							<th>receiveTime</th>
							<th>state</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>



	<script>
	var socket = io();

	function finish(oid){
		socket.emit('orderFinished', {'oid':oid},function(serverData){
		var rowToChange = table.row( function ( idx, data, node ) {
			if(data.oid === oid) {
				return true;
			} else {
				return false;
			}
    	});
    	var rowData=rowToChange.data();
    	rowData.state = "수령 완료";
    	rowToChange.data(rowData).draw();
		$('#finish'+oid).slideUp("slow");
		});
	}

	function init(){
		socket.emit('shopRegister', {session:$('#shopSession').text()}, function(data){
			socket.emit('getShopOrder','',function(data){



				var orders=[];
				for(var id in data){
					var order=data[id];

					if(order.state === 0) {
						order.state = "결제 완료";
					} else if(order.state === 1) {
						order.state = "물품 준비";
					} else {
						order.state = "수령 완료";
					}

					orders.push([order.oid,order.cid,order.orderTime,order.receiveTime,order.state]);
				}

				console.log(data);
				table=$('#order').DataTable({
					"data":data,
					"order": [[1, "desc"]], 
					"columns":[
					{
						"className":      'details-control',
						"orderable":      false,
						"data":           null,
						"defaultContent": ''
					},
					{ "data": "oid" },
					{ "data": "cuid" },
					{ "data": "phone" },
					{ "data": "orderTime" },
					{ "data": "receiveTime" },
					{ "data": "state" }
					]
				});


				function format ( d ) {
					// `d` is the original data object for the row
					console.log(d);
					var items = d.items;
					var ret = '<table class ="itemTable" cellpadding="5" cellspacing="0" border="1" style="padding-left:50px;">';
					ret += '<tr><th>pname</th><th>quantity</th></tr>';

					for(var i = 0; i < items.length; i++) {
						ret += '<tr>' +
									'<td>' + items[i].pname + '</td><td>' + items[i].quantity + '</td>' + 
					   			'</tr>';	
					}
					ret += '</table>';
					if(d.state === '물품 준비')
						ret += '<br /><button type="button" class="btn btn-primary" onclick="finish('+d.oid+')" id="finish'+d.oid+'">수령 완료</button>';
					return ret;
				}

				 $('#order tbody').on('click', 'td.details-control', function () {
					var tr = $(this).closest('tr');
					var row = table.row( tr );
			 
					if ( row.child.isShown() ) {
						// This row is already open - close it
						row.child.hide();
						tr.removeClass('shown');
					}
					else {
						// Open this row
						row.child( format(row.data()) ).show();
						tr.addClass('shown');
					}
				});

				console.log(data);

			});
		});
	}

	socket.on('connect', function(){
		init();
	});

	socket.on('disconnect', function(){
		init();
	});

	socket.on('shopNotify', function(data){	
		var test = data.result +"<br>";
		test = test.concat(data.cuid + "<br>");
		for (var i = 0; i < data.items.length ; i++) {
			test = test.concat("상품: ",data.items[i]['pname'],"<br>수량: ",data.items[i]['quantity']+"<br>");
		}
	
		var serverData = data;
		


		if(data.result === "order") {
			data.state = "결제 완료";
			table.row.add(data).draw();
		} else if(data.result === "prepare") {
			var rowToChange = table.row( function ( idx, data, node ) {
	        return data.oid === serverData.oid ?
	            true : false;
	    	} );

	    	var rowData = rowToChange.data();
	    	rowData.state = "물품 준비";
	    	rowToChange.data(rowData).draw();

		}
		
		
		$.notify({
		  title: test,
		  button: 'Confirm'
		}, { 
		  style: 'shopNotify',
		  autoHide: false,
		  clickToHide: false,
		});
		return false;
	
	});






	$('#changeTime').submit(function(){	
		
		socket.emit('changeShopState', {
			shopPreparationTime : parseInt($('#shopPreparationTime').val())
		},function(data){
			$('#shopState').text($('#shopPreparationTime').val());
			$('#shopPreparationTime').val('');
		});
			return false;
		});



	//add a new style 'shopNotify'
	$.notify.addStyle('shopNotify', {
	  html: 
	    "<div>" +
	      "<div class='clearfix'>" +
	        "<div class='title' data-notify-html='title'/>" +
	        "<div class='buttons'>" +
	          "<button class='okay'>Confirm</button>" +
	        "</div>" +
	      "</div>" +
	    "</div>"
	});
	
	//listen for click events from this style
	$(document).on('click', '.notifyjs-shopNotify-base .okay', function() {
	  //programmatically trigger propogating hide event
	  $(this).trigger('notify-hide');
	});






	</script>
	{% endblock %}
